In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
movies_df = pd.read_csv('resources/movies.csv')
movies_df

,movie_id,movie_name,release_year,original_release_date,movie_length,genre,rating,movie_producer,movie_director,movie_actor
0,1,Wings,1927,8/12/27,144,"Drama,Romance,War",PG-13,Famous Players-Lasky,William Wellman,"Clara Bow, Charles 'Buddy' Rogers, Richard Arl..."
1,2,7th Heaven,1927,NaN,110,"Drama,Romance",None,Fox,,
2,3,The Racket,1928,NaN,84,"Crime,Drama,Film-Noir",None,The Caddo Company,,
3,4,The Broadway Melody,1929,2/1/29,100,"Drama,Musical,Romance",NR,Metro-Goldwyn-Mayer,Harry Beaumont,"Anita Page, Bessie Love, Charles King, Jed Pro..."
4,5,Alibi,1929,NaN,91,"Action,Crime,Romance",None,Feature Productions,,
...,...,...,...,...,...,...,...,...,...,...
566,567,Mank,2020,NaN,131,"Biography,Comedy,Drama",None,"Ceán Chaffin, Eric Roth, and Douglas Urbanski",,
567,568,Minari,2020,NaN,115,Drama,None,Christina Oh,,
568,569,Promising Young Woman,2020,NaN,113,"Crime,Drama,Thriller",None,"Ben Browning, Ashley Fox, Emerald Fennell, and...",,
569,570,Sound of Metal,2019,NaN,120,"Drama,Music",None,Bert Hamelinck and Sacha Ben Harroche,,
570,571,The Trial of the Chicago 7,2020,NaN,129,"Drama,History,Thriller",None,Marc Platt and Stuart M. Besser,,

In [3]:
oscar_details_df = pd.read_csv('resources/oscar_details.csv')
oscar_details_df

     movie_id  oscar_year    award
0           1        1927   Winner
1           2        1927  Nominee
2           3        1927  Nominee
3           4        1928   Winner
4           5        1928  Nominee
..        ...         ...      ...
566       567        2020  Nominee
567       568        2020  Nominee
568       569        2020  Nominee
569       570        2020  Nominee
570       571        2020  Nominee

[571 rows x 3 columns]

In [4]:
movie_ratings_df = pd.read_csv('resources/movie_ratings.csv')
movie_ratings_df

,movie_id,imdb_rating,imdb_votes,tomatometer_rating,tomatometer_count,audience_rating,audience_count
0,1,7.5,12221,93,46,78,3530
1,2,7.7,3439,0,0,0,0
2,3,6.7,1257,0,0,0,0
3,4,5.7,6890,33,24,21,1813
4,5,5.8,765,0,0,0,0
...,...,...,...,...,...,...,...
566,567,6.9,65380,0,0,0,0
567,568,7.5,57976,0,0,0,0
568,569,7.5,122269,0,0,0,0
569,570,7.8,102807,0,0,0,0
570,571,7.8,156283,0,0,0,0

In [5]:
movie_revenue_df = pd.read_csv('resources/movie_revenue.csv')
movie_revenue_df

     movie_id  us_gross_income  worldwide_gross_income  production_budget
0           1              0.0            0.000000e+00          2000000.0
1           4        2800000.0            4.358000e+06           379000.0
2           8      113330342.0            2.153000e+08        110000000.0
3          16       15000000.0            1.500000e+07          4000000.0
4          28        2300000.0            2.300000e+06           439000.0
..        ...              ...                     ...                ...
186       480      285630280.0            7.538303e+08        160000000.0
187       481       20553799.0            2.055380e+07          4000000.0
188       483      410640665.0            1.046341e+09        200000000.0
189       485        5951693.0            5.951693e+06          2000000.0
190       561       50003303.0            5.000330e+07         15000000.0

[191 rows x 4 columns]

In [11]:
# Merging all the DataFrames together which is needed to perform the analysis
Oscar_combined_df = pd.merge(movies_df,movie_ratings_df,on="movie_id")
Oscar_combined_df = pd.merge(Oscar_combined_df,movie_revenue_df,on="movie_id",how='outer')
Oscar_combined_df = pd.merge(Oscar_combined_df,oscar_details_df,on="movie_id")

In [12]:
Oscar_combined_df

,movie_id,movie_name,release_year,original_release_date,movie_length,genre,rating,movie_producer,movie_director,movie_actor,...,imdb_votes,tomatometer_rating,tomatometer_count,audience_rating,audience_count,us_gross_income,worldwide_gross_income,production_budget,oscar_year,award
0,1,Wings,1927,8/12/27,144,"Drama,Romance,War",PG-13,Famous Players-Lasky,William Wellman,"Clara Bow, Charles 'Buddy' Rogers, Richard Arl...",...,12221,93,46,78,3530,0.0,0.0,2000000.0,1927,Winner
1,2,7th Heaven,1927,NaN,110,"Drama,Romance",None,Fox,,,...,3439,0,0,0,0,NaN,NaN,NaN,1927,Nominee
2,3,The Racket,1928,NaN,84,"Crime,Drama,Film-Noir",None,The Caddo Company,,,...,1257,0,0,0,0,NaN,NaN,NaN,1927,Nominee
3,4,The Broadway Melody,1929,2/1/29,100,"Drama,Musical,Romance",NR,Metro-Goldwyn-Mayer,Harry Beaumont,"Anita Page, Bessie Love, Charles King, Jed Pro...",...,6890,33,24,21,1813,2800000.0,4358000.0,379000.0,1928,Winner
4,5,Alibi,1929,NaN,91,"Action,Crime,Romance",None,Feature Productions,,,...,765,0,0,0,0,NaN,NaN,NaN,1928,Nominee
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,567,Mank,2020,NaN,131,"Biography,Comedy,Drama",None,"Ceán Chaffin, Eric Roth, and Douglas Urbanski",,,...,65380,0,0,0,0,NaN,NaN,NaN,2020,Nominee
567,568,Minari,2020,NaN,115,Drama,None,Christina Oh,,,...,57976,0,0,0,0,NaN,NaN,NaN,2020,Nominee
568,569,Promising Young Woman,2020,NaN,113,"Crime,Drama,Thriller",None,"Ben Browning, Ashley Fox, Emerald Fennell, and...",,,...,122269,0,0,0,0,NaN,NaN,NaN,2020,Nominee
569,570,Sound of Metal,2019,NaN,120,"Drama,Music",None,Bert Hamelinck and Sacha Ben Harroche,,,...,102807,0,0,0,0,NaN,NaN,NaN,2020,Nominee
570,571,The Trial of the Chicago 7,2020,NaN,129,"Drama,History,Thriller",None,Marc Platt and Stuart M. Besser,,,...,156283,0,0,0,0,NaN,NaN,NaN,2020,Nominee

In [21]:
# Split the Genre list by comma and create a list of unique generes 
# It is done since we will be needing to write queries to group by each genre 

genre_list = sorted(Oscar_combined_df['genre'].str.split(',',expand=True).stack().str.strip().unique().tolist())
genre_list

['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Thriller',
 'War',
 'Western']

In [22]:
# Create a column for each Genre and fill with True/ False values

for genre in genre_list:
    Oscar_combined_df[f'genre_{genre}'] = Oscar_combined_df['genre'].str.contains(genre)

# Drop the original genre column since we have already split it up
Oscar_combined_df.drop('genre',axis=1,inplace=True)
Oscar_combined_df

,movie_id,movie_name,release_year,original_release_date,movie_length,rating,movie_producer,movie_director,movie_actor,imdb_rating,...,genre_Horror,genre_Music,genre_Musical,genre_Mystery,genre_Romance,genre_Sci-Fi,genre_Sport,genre_Thriller,genre_War,genre_Western
0,1,Wings,1927,8/12/27,144,PG-13,Famous Players-Lasky,William Wellman,"Clara Bow, Charles 'Buddy' Rogers, Richard Arl...",7.5,...,False,False,False,False,True,False,False,False,True,False
1,2,7th Heaven,1927,NaN,110,None,Fox,,,7.7,...,False,False,False,False,True,False,False,False,False,False
2,3,The Racket,1928,NaN,84,None,The Caddo Company,,,6.7,...,False,False,False,False,False,False,False,False,False,False
3,4,The Broadway Melody,1929,2/1/29,100,NR,Metro-Goldwyn-Mayer,Harry Beaumont,"Anita Page, Bessie Love, Charles King, Jed Pro...",5.7,...,False,True,True,False,True,False,False,False,False,False
4,5,Alibi,1929,NaN,91,None,Feature Productions,,,5.8,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,567,Mank,2020,NaN,131,None,"Ceán Chaffin, Eric Roth, and Douglas Urbanski",,,6.9,...,False,False,False,False,False,False,False,False,False,False
567,568,Minari,2020,NaN,115,None,Christina Oh,,,7.5,...,False,False,False,False,False,False,False,False,False,False
568,569,Promising Young Woman,2020,NaN,113,None,"Ben Browning, Ashley Fox, Emerald Fennell, and...",,,7.5,...,False,False,False,False,False,False,False,True,False,False
569,570,Sound of Metal,2019,NaN,120,None,Bert Hamelinck and Sacha Ben Harroche,,,7.8,...,False,True,False,False,False,False,False,False,False,False
570,571,The Trial of the Chicago 7,2020,NaN,129,None,Marc Platt and Stuart M. Besser,,,7.8,...,False,False,False,False,False,False,False,True,False,False

In [26]:
# Extract only the main producer from the producer list and create a seperate column for it
Oscar_combined_df['movie_producer_main'] = Oscar_combined_df['movie_producer'].str.split(',').str[0]
Oscar_combined_df['movie_producer_main']

0                       Famous Players-Lasky
1                                        Fox
2                          The Caddo Company
3                        Metro-Goldwyn-Mayer
4                        Feature Productions
                       ...
566                             Ceán Chaffin
567                             Christina Oh
568                             Ben Browning
569    Bert Hamelinck and Sacha Ben Harroche
570          Marc Platt and Stuart M. Besser
Name: movie_producer_main, Length: 571, dtype: object

In [27]:
# Extract only the main director from the director list and create a seperate column for it
Oscar_combined_df['movie_director_main'] = Oscar_combined_df['movie_director'].str.split(',').str[0]
Oscar_combined_df['movie_director_main']

0      William Wellman
1
2
3       Harry Beaumont
4
            ...
566
567
568
569
570
Name: movie_director_main, Length: 571, dtype: object

In [30]:
# Extract the first 2 actors in the list and create 2 new columns for them
Oscar_combined_df['movie_actor_1'] = Oscar_combined_df['movie_actor'].str.split(',',expand=True)[0]
Oscar_combined_df['movie_actor_2'] = Oscar_combined_df['movie_actor'].str.split(',',expand=True)[1]
Oscar_combined_df['movie_actor_1']
Oscar_combined_df['movie_actor_2']

0       Charles 'Buddy' Rogers
1                         None
2                         None
3                  Bessie Love
4                         None
                ...
566                       None
567                       None
568                       None
569                       None
570                       None
Name: movie_actor_2, Length: 571, dtype: object

In [38]:
# Split the award column into 2 new columns which helps to analyse the data based on winner/non-winner category
Oscar_combined_df['award_Nominee'] = Oscar_combined_df['award'].str.contains('Nominee').astype(int)
Oscar_combined_df['award_Winner'] = Oscar_combined_df['award'].str.contains('Winner').astype(int)
# Drop the original 'award' column
Oscar_combined_df.drop(columns=['award'], inplace=True)

In [39]:
Oscar_combined_df

,movie_id,movie_name,release_year,original_release_date,movie_length,rating,movie_producer,movie_director,movie_actor,imdb_rating,...,genre_Sport,genre_Thriller,genre_War,genre_Western,movie_producer_main,movie_director_main,movie_actor_1,movie_actor_2,award_Nominee,award_Winner
0,1,Wings,1927,8/12/27,144,PG-13,Famous Players-Lasky,William Wellman,"Clara Bow, Charles 'Buddy' Rogers, Richard Arl...",7.5,...,False,False,True,False,Famous Players-Lasky,William Wellman,Clara Bow,Charles 'Buddy' Rogers,0,1
1,2,7th Heaven,1927,NaN,110,None,Fox,,,7.7,...,False,False,False,False,Fox,,,None,1,0
2,3,The Racket,1928,NaN,84,None,The Caddo Company,,,6.7,...,False,False,False,False,The Caddo Company,,,None,1,0
3,4,The Broadway Melody,1929,2/1/29,100,NR,Metro-Goldwyn-Mayer,Harry Beaumont,"Anita Page, Bessie Love, Charles King, Jed Pro...",5.7,...,False,False,False,False,Metro-Goldwyn-Mayer,Harry Beaumont,Anita Page,Bessie Love,0,1
4,5,Alibi,1929,NaN,91,None,Feature Productions,,,5.8,...,False,False,False,False,Feature Productions,,,None,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,567,Mank,2020,NaN,131,None,"Ceán Chaffin, Eric Roth, and Douglas Urbanski",,,6.9,...,False,False,False,False,Ceán Chaffin,,,None,1,0
567,568,Minari,2020,NaN,115,None,Christina Oh,,,7.5,...,False,False,False,False,Christina Oh,,,None,1,0
568,569,Promising Young Woman,2020,NaN,113,None,"Ben Browning, Ashley Fox, Emerald Fennell, and...",,,7.5,...,False,True,False,False,Ben Browning,,,None,1,0
569,570,Sound of Metal,2019,NaN,120,None,Bert Hamelinck and Sacha Ben Harroche,,,7.8,...,False,False,False,False,Bert Hamelinck and Sacha Ben Harroche,,,None,1,0
570,571,The Trial of the Chicago 7,2020,NaN,129,None,Marc Platt and Stuart M. Besser,,,7.8,...,False,True,False,False,Marc Platt and Stuart M. Besser,,,None,1,0

In [ ]:
# Output the Data Frame to a csv file
Oscar_combined_df.to_csv('Processed_Oscar_movie_Details.csv', index=False)